* {
    box-sizing: border-box;
}

.title {
   margin-bottom: 2em;
}

.items {
    margin: 1.2em auto;
}

form {
    display: flex;
    justify-content: center;
}

.users {
    margin-top: 1.2rem;
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
}
