.item {
    word-break: break-all;
}

span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.task-items {
    margin-top: 3rem;
    border-bottom: 1px solid rgb(145, 145, 145);
    padding-bottom: 20px;
}

.task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}