<div class="row justify-content-lg-center task-items">
    <div class="col-lg-7">
        <!-- <read-more> -->
            <h3 [ngClass]='["item"]' #taskText>{{task}}</h3>
        <!-- </read-more> -->

        <!-- <span (click) = "expandText($event)" *ngIf="isOverflown(taskText)">{{this.isExpanded?'hide':'show more'}}</span> -->
    </div>
    <div class="col-lg-4 task-buttons">
        <button (click)="done($event)" type="button" class="btn btn-success w-25">Gotovo</button>
        <button (click)="editItem()" type="button" class="btn btn-primary w-25">Izmjeni</button>
        <button (click)="deleteItem($event)" type="button" class="btn btn-danger w-25">Izbrisi</button>
    </div>
</div>